# Project exclude paths
/target/
pom.xml
FarmerMigrate.iml
.idea/misc.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_19_3_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_16_R0_4.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_guava_guava_31_1_jre.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_11_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_10.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
pom.xml
FarmerMigrate.iml
.idea/misc.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_19_3_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_16_R0_4.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_guava_guava_31_1_jre.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_11_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_10.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
*.iml
*.xml
.idea/misc.xml
FarmerMigrate.iml
*.iml
